@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');
.brand_story{
    height: 956px;
    background-color: #0565bb;
    margin-top: 143px;
    position: relative;
    width: 1920px;
}

.title{
    text-align: center;
}
.title p{
 font-family: 'Montserrat';
 font-size: 45px;
 text-align: center;
 font-weight: bold;
 text-transform: uppercase;
 color: #fcd32a;
 padding-top: 149px;
 
}
.title .content{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;  
    width: 682px !important;
    word-wrap: break-word;
    color: #fcd32a;
   margin: auto;
   margin-top: 40px;
}
.line{
    position: absolute;
    top: 800px;
    left: 169px;
    z-index: 0;
    border: 2px solid black;
    width: 700px;
    overflow-x: hidden;
}

.object1{
    position: absolute;
    top: 240px;
    left: 169px;
    z-index: 0;
}
.object2{
    position: absolute;
    top: 61px;
    right: 256px;
    z-index: 0;
}
.object3{
    position: absolute;
    top: 114px;
    right: 171px;
    z-index: 0;
}
.object4{
    width: 197px;
    position: absolute;
    top: 230px;
    right: 0;
    overflow-x: hidden;
    z-index: 0;
}
.object5{
    position: absolute;
    width: 345px;
    top: 580px;
    right: 0px;
    overflow-x: hidden;
    z-index: 0;
}
.object6{
    position: absolute;
    top: 480px;
    left: 0px;
    z-index: 0;
}
.object7{
    position: absolute;
    top: 562px;
    left: 190px;
    z-index: 0;
}

.brand_story .window{
    position: relative;
    width: 1235px;
    height: 422px;  
    margin: auto;
    margin-top: 77px;
    z-index: 100;
}


.brand_story .window_content{
    font-family: 'Montserrat';
    position: absolute;
    top: 87px;
    left: 650px;

}
.brand_story .window_content .window_title{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
   
}
.brand_story .window_contt{
    font-family: 'Montserrat';  
    width: 528px;
    font-size: 16px !important;
   
}
.see_more{
    clear: left;
    width: 199px;
    height: 60px;
    padding-left: 30px;
    padding-top: 11px;
    border: solid 3px #020001;
    background-color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    margin-top: 40px;
}




